p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("pics/images/caution.png");
}
.rmdimportant {
  background-image: url("pics/images/important.png");
}
.rmdnote {
  background-image: url("pics/images/note.png");
}
.rmdtip {
  background-image: url("pics/images/tip.png");
}
.rmdwarning {
  background-image: url("pics/images/warning.png");
}

.recommandation {
  background: #ffbaba;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #ff0000;
}

.conseil {
  background: #a3dfff;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #00a6ff;
}

.remarque {
  background: #fffcad;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #ffe136;
}

.exercice {
  padding: 1em;
  background: #e6f0ff;
  border: 2px solid #4169e1;
  border-radius: 10px;
}

.center {
  text-align: center;
}


.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
}
.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}